<?xml version="1.0" encoding="utf-8"?>
<!--Innovator Name: Oluwakemmy Mary Omoshoro(Full Stack)
    Project Name: Online Library Management System (Prototype)
	Project Owner:Andela BFSDG Challenge,Cohort 2,2020
	Project Sector: Education
	Programming Language(s): Html5,Boostrap4.5,Javascript,C#-Asp.net
	-->
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--Place the database conncetion string here-->
  <connectionStrings>
    <add name="con" connectionString="$(ReplacableToken_con-Web.config Connection String_0)"/>
    <add name="elmsDatabaseConnectionString" connectionString="$(ReplacableToken_elmsDatabaseConnectionString-Web.config Connection String_0)"/>
    <!--<add name="con" providerName="System.Data.SqlClient"  connectionString="elmslibrary.database.windows.net,1433;Initial Catalog=elmsDatabase;Persist Security Info=False;User ID=Lms01;Password=Ojk$953%;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"  />-->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <sessionState cookieless="UseCookies" cookieSameSite="None"/>
    <httpCookies requireSSL="true"/>
    <anonymousIdentification cookieRequireSSL="false"/>
    <!-- No config attribute for SameSite -->
    <authentication>
      <forms cookieSameSite="Lax" requireSSL="false"/>
    </authentication>
    <roleManager cookieRequireSSL="false"/>
    <!-- No config attribute for SameSite -->
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: A5C46FA0-0FE8-41C5-8122-87996106BBE8-->